@model MusicStarStore.Models.DTO.VinylListVm
@{
    Layout = "_Layout";
}
<section class="search-bar">
    <form>
        <input type="text" placeholder="Search here">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</section>
<section class="vinyls">
      @foreach (var vinyl in Model.VinylList)
    {
      <div class="vinyl-card" onclick="window.location.href='/vinyl-detail.html'">
        <div class="vinyl-image">
            <img src="/Uploads/@vinyl.VinylImage">
        </div>
        <div class="vinyl-info">
            <h4>@vinyl.Title</h4>
            <h4>@vinyl.Artist</h4>
            <h4>@vinyl.GenreNames</h4>
        </div>
    </div>
    }
</section>

<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a class="active" href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
</div>