@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicStar Store</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/movie_filter_FILL0_wght400_GRAD0_opsz48.svg">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            Music Star Store
        </div>
        <ul class="nav-link">
            <li><a class="active" href="/index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li>
                <a href="#">Admin <i class="fa fa-caret-down"></i></a>

                <ul class="dropdown-nav-link">
                    <li><a href="/forms.html">Form</a></li>
                    <li><a href="/table.html">Table</a></li>
                    <li><a href="/movie-detail.html">Music Detail</a></li>
                    <li><a href="#">Link 4</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
    <div class="container">
        <section class="search-bar">
            <form>
                <input type="text" placeholder="Search here">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </section>
        <section class="vinyls">
            <div class="vinyl-card" onclick="window.location.href='/vinyl-detail.html'">
                <div class="vinyl-image">
                    <img src="https://merchbar.imgix.net/product/4/1616/31621588/075678667596.jpg?q=40&auto=compress,format&w=768">
                </div>
                <div class="vinyl-info">
                    <h4>Vices & Virtues</h4>
                    <h4>Panic! At The Disco</h4>
                    <h4>Rock</h4>
                </div>
            </div>

            <div class="vinyl-card">
                <div class="vinyl-image">
                    <img src="https://merchbar.imgix.net/product/4/1616/42156833/OPGDceuR4021132-2757068.jpg?q=40&auto=compress,format&w=768">
                </div>
                <div class="vinyl-info">
                    <h4>The Gods We Can Touch</h4>
                    <h4>AURORA</h4>
                    <h4>Pop</h4>
                </div>
            </div>


            <div class="vinyl-card">
                <div class="vinyl-image">
                    <img src="https://merchbar.imgix.net/product/crop/1616/2432696/0DQUF8-1692140984-1000x1000-1692140981-1.png?q=40&auto=compress,format&w=768">
                </div>
                <div class="vinyl-info">
                    <h4>A Night At The Opera</h4>
                    <h4>Queen</h4>
                    <h4>Rock</h4>
                </div>
            </div>


            <div class="vinyl-card">
                <div class="vinyl-image">
                    <img src="https://merchbar.imgix.net/product/490/10530/858978005059/Lh7F15Va71VpqI19tpL._SY355_.jpg?q=40&auto=compress,format&w=768">
                </div>
                <div class="vinyl-info">
                    <h4>Ride The Lightning</h4>
                    <h4>METALLICA</h4>
                    <h4>Metal</h4>
                </div>
            </div>


            <div class="vinyl-card">
                <div class="vinyl-image">
                    <img src="https://merchbar.imgix.net/product/194/7952/6913633681586/L58WWD5f0601501306327.jpg?q=40&auto=compress,format&w=768">
                </div>
                <div class="vinyl-info">
                    <h4>Fallen</h4>
                    <h4>EVANESCENCE</h4>
                    <h4>Metal</h4>
                </div>
            </div>


            <div class="vinyl-card">
                <div class="vinyl-image">
                    <img src="https://merchbar.imgix.net/product/crop/1616/462392/SEV6OB-1579303738-522x522-1579303733-050087348441.jpg?q=40&auto=compress,format&w=768">
                </div>
                <div class="vinyl-info">
                    <h4>Nightmare Before Christmas</h4>
                    <h4>Danny Elfman</h4>
                    <h4>Soundtrack</h4>
                </div>
            </div>


            <div class="vinyl-card">
                <div class="vinyl-image">
                    <img src="https://merchbar.imgix.net/product/4/1616/28663287/075678669767.jpg?q=40&auto=compress,format&w=768">
                </div>
                <div class="vinyl-info">
                    <h4>Rise</h4>
                    <h4>Skillet</h4>
                    <h4>Rock</h4>
                </div>
            </div>


            <div class="vinyl-card">
                <div class="vinyl-image">
                    <img src="https://merchbar.imgix.net/albums/releases/2915929.jpeg?q=40&auto=compress,format&w=768">
                </div>
                <div class="vinyl-info">
                    <h4>Born This Way</h4>
                    <h4>Lady Gaga</h4>
                    <h4>Pop</h4>
                </div>
            </div>



            <div class="vinyl-card">
                <div class="vinyl-image">
                    <img src="https://merchbar.imgix.net/product/458/10006/7680642777312/UvB_tc9L0602527296692_360x_d607e31c-e427-4a2a-8f84-3120103dc9b2.webp?q=40&auto=compress,format&w=768">
                </div>
                <div class="vinyl-info">
                    <h4>Mutter</h4>
                    <h4>Rammstein</h4>
                    <h4>Metal</h4>
                </div>
            </div>


            <div class="vinyl-card">
                <div class="vinyl-image">
                    <img src="https://merchbar.imgix.net/product/crop/1616/5983452/D8ADQQ-1708471152-1500x1500-1708471148-196587202712%201.jpg?q=40&auto=compress,format&w=768">
                </div>
                <div class="vinyl-info">
                    <h4>Dark Side Of The Moon</h4>
                    <h4>Pink Floyd</h4>
                    <h4>Rock</h4>
                </div>
            </div>
        </section>

        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
    <footer>
        &#169; 2024 Music Star Store
    </footer>
</body>
</html>