@model MusicStarStore.Models.Domain.Vinyl
@{
}
<div class="vinyl-detail w-80 m-auto">
    <div class="img-container">
        <img alt="image" src="/Uploads/@Model.VinylImage">
    </div>

    <div class="detail-container">
        <h3>@Model.Title</h3>
        <h4>@Model.Artist</h4>
        <h4>@Model.GenreNames</h4>
    </div>
</div>
<div class="w-80 m-auto">
    <a href="/Home/Index" class="btn btn-default">Back</a>
</div>